

.loading {
    width: 100vw  !important;
    height: 100vh;
    background-color: var(--color-dark-bg);
    padding-top: 40vh;
  }
  
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  .loader {
    color: #ffffff;
    font-size: 0.3rem;
    margin: 50px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  
.welcome-container {
    position: fixed;
    top:0;  
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-dark-bg);  
    z-index: 10000; 
    animation: slideUp 2.5s ease-in-out forwards;
   padding-top: 40vh;
  }
  
  .welcome-text {
    font-size: 3rem;
    font-family: 'Roobert' !important;

  }
  
  @keyframes slideUp {
    0% {
      top: 0;  
    }
    60% {
      top : 0%
    }
    90% {
      top: -100%
    }
    100% {
      top: -200%; 
    }
  }
  
  .text-slide-up {
    position: absolute;
    top: 45%;
    animation: fadeslideUp 9s infinite;  
  }
  .dot-slide-up {
    position: relative;
    animation: dotSlideUp 1500ms ease-in; 
  }
  
  @keyframes dotSlideUp {
    0% {
      top: 100vh;
    }
     100% {
      top: 0px;
     }
  }
  @keyframes fadeslideUp {
    0% {
      opacity: 0;
      transform: translateY(0%); 
      -ms-transform: translateY(0%);
    }
    10% {
      opacity: 1;
      transform: translateY(-70%); 
      -ms-transform: translateY(-70%);
    }
    20% {
      opacity: 1;
      transform: translateY(-70%); 
      -ms-transform: translateY(-70%);
    }
    25% {
      opacity: 0;
      transform: translateY(-100%);
      -ms-transform: translateY(-100%); 
    }
    100% {
      opacity: 0;
      transform: translateY(-80%);
      -ms-transform: translateY(-80%); 
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @media screen and (max-width: 568px) {
    .welcome-text {
      font-size: 2rem;
      font-family: 'Roobert' !important;
    }
  }