@font-face {
  font-family: "Roobert";
  src: url("/RoobertTRIAL-Regular.otf") format('opentype');
} 
* {
  box-sizing: border-box;
  scrollbar-width: none;

}
@font-face {
  font-family: "Roobert Mono Light";
  src: url("/RoobertMonoTRIAL-Light.otf") format('opentype');
} 

html {
  font-size: 16px;
}
h1 {
  font-size: 3.125rem;
}
h2 {
  font-size: 2.618rem;
}
h3 {
  font-size: 1.931rem;
}
h4 {
  font-size: 1.618rem;
}
h5 {
  font-size: 1.194rem;
}
p {
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Roobert, Helvetica, sans-serif;
  font-weight: 500;
}

body {
  box-sizing: border-box;
  font-family: 'Roobert';
}
body::-webkit-scrollbar {
  display: none; 
}

:root {
  --color-background: rgb(255,255,255);
  --color-dark-bg:rgb(29, 32, 34);
  --color-text: rgb(0,0,0);
  --color-nav-text: rgb(88, 88, 88);
} 

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  :root {
    --color-background: rgb(0, 0, 0);
    --color-text: rgb(255, 255, 255);
    --color-nav-text:  rgb(214, 211, 211);
  }
}
.bg-default {
  background-color: var(--color-background) !important; 

}
.bg-white {
  background-color: #ffffff;
}
.bg-wheat {
  background-color: wheat;
}
.bg-white-blur {
  background: rgba(255, 255, 255,0.9);
  color: #000000;
}

.text-default {
  color: var(--color-text) !important;
}
.text-primary {
  color: #9dceff !important
}
.text-secondary {
  color: #74879a !important
}
.text-code {
  font-family: 'Roobert Mono Light';
}
.text-link {
  color: #1261D9;
}

.section-title {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  p {
    font-size: 14px;
  }
  .section-title {
    font-weight: 400;
    text-align: center;
  }

}
@media only screen and (max-width: 991px) {
 
  .column-reverse {
    flex-direction: column-reverse;

  }
}

.scroll-margin-top {
  scroll-margin-top: 50px; 
}


.pointer {
  cursor: pointer !important;
}

a {
  text-decoration: none;
}
a:hover {
  color: #0286F0;
}